.ControlPanel {
	/* opacity: 0.2; */
	&:hover, &:focus,	&.active { opacity: 1; }

	transition: linear 0.2s;

	& > * {
		backdrop-filter: blur(2px);
	}

	& .ant-space {
		backdrop-filter: none;
	}

	& .ant-collapse-header {
		font-weight: bold;
	}

	& .ant-slider {
		flex: 1;
	}
}

.ant-switch svg {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

